@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  transition: transform 0.2s ease, color 0.2s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
}
